In [1]:
import numpy as np
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
from biogeme.expressions import Beta
from utils import *

In [2]:
# Read data
df = pd.read_csv("../data/netherlands.dat",'\t')
df.shape

(1739, 28)

In [3]:
df.head()

,id,rp,sp,choice,purpose,npersons,age,employ_status,mainearn,arrival_time,...,seat_status,car_ivtt,car_cost,car_walk_time,car_parking_fee,rail_comfort,rp_transfer,rp_choice,rp_rail_ovt,rp_car_ovt
0,1,1,0,0,0,3,0,0,0,0,...,0,1.000,5.0,0.167,0,-1,0,0,0.5,0.167
1,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,7.5,-1.000,-1,0,0,0,0.5,0.167
2,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,7.0,-1.000,-1,0,0,0,0.5,0.167
3,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,6.5,-1.000,-1,0,0,0,0.5,0.167
4,1,0,1,10,0,3,0,0,0,0,...,-1,1.167,6.0,-1.000,-1,0,0,0,0.5,0.167

In [7]:
df.columns

Index(['id', 'rp', 'sp', 'choice', 'purpose', 'npersons', 'age',
       'employ_status', 'mainearn', 'arrival_time', 'gender', 'rail_ivtt',
       'rail_cost', 'rail_transfers', 'rail_acc_time', 'rail_egr_time',
       'rail_acc_mode', 'rail_egr_mode', 'seat_status', 'car_ivtt', 'car_cost',
       'car_walk_time', 'car_parking_fee', 'rail_comfort', 'rp_transfer',
       'rp_choice', 'rp_rail_ovt', 'rp_car_ovt'],
      dtype='object')

In [4]:
data = db.Database('netherland',df)

In [6]:
globals().update(data.variables)

In [9]:
# params
asc_car = Beta('asc_car', 0, None, None, 0)
asc_rail = Beta('asc_car', 0, None, None, 1)
b_time_car = Beta('b_time_car', 0, None, None, 0)
b_time_rail = Beta('b_time_rail', 0, None, None, 0)
b_cost = Beta('b_cost', 0, None, None, 0)
b_gen1 = Beta('b_gen1', 0, None, None, 0)
b_gen2 = Beta('b_gen12', 0, None, None, 0)

In [10]:
# Utilities
v_car = asc_car + b_time_car * car_ivtt + b_cost * car_cost + b_gen1 * gender
v_rail = asc_rail + b_time_rail * rail_ivtt + b_cost * rail_cost + b_gen2 * gender

In [11]:
df.choice.value_counts()

10    1104
11     407
0      147
1       81
Name: choice, dtype: int64